cycler==0.10.0
decorator==4.1.2
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jupyter-client==5.2.1
jupyter-core==4.4.0
matplotlib==2.1.1
matplotlib-venn==0.11.5
numpy==1.22.0
pandas==0.22.0
parso==0.1.1
patsy==0.4.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
statsmodels==0.8.0
tableone==0.3.2
tabulate==0.8.2
tornado==4.5.3
traitlets==4.3.2
wcwidth==0.1.7
